<!--The content below is only a placeholder and can be replaced.

<div>
    <h3>pipe filter test</h3>
{{ comma_test_vale | comma_add}}
</div>
-->


<div id="layout">
  <div id="left">
    <ul>
      <li><a href="ng-moment-pipes">ng-moment-pipes</a></li>
      <li><a href="ng-count-up-js">ng-count-up-js</a></li>
      <li><a href="ng-node-socket">ng-node-socket</a></li>
      <li><a href="ng-rest-http">ng-rest-http</a></li>
    </ul>
  </div>
  <div id="right">
    <router-outlet></router-outlet>
  </div>
</div>
<style>
  #layout {
    display: flex;
    height: 100vh;
  }

  #left {
    background-color: bisque;
    padding: 10px;
  }
  #right {
    background-color: rgb(196, 255, 216);
    width: 100%;
  }
</style>

